<section id="event-page-container" class="content-container">
  <article data-id="{{event.id}}" class="event-page event-card">
    <h2 id="event-title">{{event.name}}</h2>
    {{#ifEquals event.host_id userId}}
      <button id="edit-event">Edit Event</button>
      <button id="cancel-event">Cancel Event</button>
    {{/ifEquals}}
    <div id="event-game">
      <span>Game Being Played</span>
      <h3>{{event.game_name}}</h3>
    </div>
    <div id="event-description">
      <p>{{event.description}}</p>
    </div>
    <div id="event-notes">
      <span>Notes:</span>
      <p>{{event.notes}}</p>
    </div>
    <div id="event-location">
      {{#if event.is_virtual}}
        <span>Link:</span>
      {{else}}
        <span>Location:</span>
      {{/if}}
      <span>{{event.location}}</span>
    </div>
    <div id="event-attendees">
      <div id="event-attendees-header">
        <span>Attendees:</span>
        <span>Game Capacity: {{get_count event.party_members}} / {{event.max_users}}</span>
        <div>
          {{#each event.party_members as |member|}}
            <span data-id="member.id">{{member.displayname}}</span>
            {{#if member.eventgroup.approved}}
              <img src="/images/check-icon.svg" alt="checkmark" />
            {{else}}
              <img src="/images/question-icon.svg" alt="question mark" />
            {{/if}}
            <img src="/images/x-icon.svg" alt="x icon">
          {{/each}}
        </div>
      </div>
    </div>
    {{#if event.is_virtual}}
      <img src="/images/physical-icon.svg" alt="house icon" />
    {{else}}
      <img src="/images/virtual-icon.svg" alt="computer icon" />
    {{/if}}
    <span id="event-dop">Date of Play: {{event.date}}</span>
    {{#if event.is_public}}
      <img src="/images/private-icon.svg" alt="private icon" />
    {{/if}}
    {{#ifEquals event.host_id userId}}
      <button id="add-attendees">Add Members</button>
    {{else}}
      {{#if loggedIn}}
        {{#each event.party_members as |member|}}
          {{#ifEquals member.userId userId}}
            <button id="leave-event">Leave Event</button>
          {{/ifEquals}}
        {{/each}}
      {{/if}}
    {{/ifEquals}}
  </article>
</section>