<section id="event-container" class="content-container">
  {{#each events as |event|}}
    <article
      data-id="{{event.id}}"
      class="event-card"
      onclick="getFullEvent({{event.id}})"
    >
      <div class="card-container-title">
        <h2>{{event.name}}</h2>
      </div>
      <div class="card-container-game">
        <span>Game Being Played:</span>
        <h3>{{event.game_name}}</h3>
      </div>
      <div class="card-container-footer">
        <div class="location-icon">
          {{#if event.is_virtual}}
            <img src="./images/virtual-icon.svg" alt="virtual link" />
          {{else}}
            <img src="./images/physical-icon.svg" alt="physical location" />
          {{/if}}
        </div>
        <div class="event-date">
          <span>{{event.date}}</span>
        </div>
        <div class="event-capacity">
          <span> {{get_count event.party_members}} / {{event.max_users}}</span>
        </div>
      </div>
    </article>
  {{/each}}
</section>